<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TestUI</title>

    <!--need-->
    <link rel="stylesheet" href="~/lib/materialize/materialize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/css/UI.css" rel="stylesheet" />
    <link href="~/css/UI_parts.css" rel="stylesheet" />

    <style>
        body {
            margin: 0;
            overflow: hidden;
        }

        canvas {
            background: black;
        }
    </style>
</head>
<body>

    <!--<div class="topleftmenu">

    </div>-->

    <div class="part__container part--top UItopleft">
        <div class="part__center">
            <i class="material-icons noselect" onclick="ui.ShowExitMenu(true)">home</i>
            <i class="material-icons noselect volume" onclick="ui.SwitchSoundOnOff(this)">volume_mute</i>
            <i class="material-icons noselect" onclick="ui.ShowOptionMenu(true)">info</i>
        </div>
        <div class="part__right"></div>
    </div>

    <div class="part__container part--top UItimer">
        <div class="part__left"></div>
        <div class="part__center">
            <div id="gameTimer" style=""></div>
        </div>
        <div class="part__right"></div>
    </div>

    <div class="part__container part--bottom UIbottom">
        <div class="part__left"></div>
        <div class="part__center">
            <div style="margin: auto;">hoithere</div>
        </div>
        <div class="part__right"></div>
    </div>

    <div class="part__container part--top UItopright">
        <div class="part__left"></div>
        <div class="part__center">
            <label for="toggle-background" style="position:relative;">showcontent</label>
            <input id="toggle-background" type="checkbox" class="toggleCheckBox">


            <button onclick="ui.ShowOptionMenu(true)">true</button>
            <button onclick="ui.ShowOptionMenu(false)">false</button>
            <label for="toggle-OptionMenu">showcontent</label>
        </div>
    </div>
    <!--
        <div style="position:absolute; right:0;">

        </div>
    -->
    <input id="toggle-OptionMenu" type="checkbox" class="toggleCheckBox menu__checkbox">
    <div onclick="ui.ShowOptionMenu(false)" class="overlayBackground"></div>
    <div id="mainMenu" class="card red darken-4 center fallIn" style="width: 300px;">
        <div class="card-content orange-text text-accent-3">
            <div class="orange-text text-accent-3 card__option">
                <i class="material-icons volume" onclick="ui.SwitchSoundOnOff(this)">volume_mute</i>
                <i class="material-icons" onclick="ui.ShowOptionMenu(false)">clear</i>
            </div>
            <span class="card-title">Options:</span>
            <a class="btn orange menu__option">Leave</a>
            <a class="btn orange menu__option">Leave</a>
            <a class="btn orange menu__option" href="/User/Main">Leave</a>
        </div>
    </div>

    <input id="toggle-ExitMenu" type="checkbox" class="toggleCheckBox menu__checkbox">
    <div onclick="ui.ShowExitMenu(false)" class="overlayBackground"></div>
    <div id="exitMenu" class="card red darken-4 center popIn" style="width: 300px;">
        <div class="card-content orange-text text-accent-3">
            <div class="orange-text text-accent-3 card__option">
                <i class="material-icons" onclick="ui.ShowExitMenu(false)">clear</i>
            </div>
            <span class="card-title">Options:</span>
            <a class="btn orange menu__option" href="/User/Main">Leave</a>
            <a class="btn orange menu__option" onclick="ui.ShowExitMenu(false)">Cancel</a>
        </div>
    </div>

    <!--need-->
    <script src="~/lib/jQuery v3.3.1.js"></script>
    <script src="~/lib/materialize/materialize.min.js"></script>

    <script src="~/lib/threejs/three.min.js"></script>
    <script src="~/lib/threejs/OrbitControls.js"></script>
    <script src="~/lib/phisijs/ammo.js"></script>
    <script src="~/lib/phisijs/physi.js"></script>

    <script src="~/lib/phisijs/simplex-noise.js"></script>
    <script src="~/lib/phisijs/stats.js"></script>
    <script src="~/lib/phisijs/tween.js"></script>
    <script src="~/lib/threejs/FirstPersonControls.js"></script>
    <script src="~/lib/threejs/MTLLoader.js"></script>
    <script src="~/lib/threejs/OBJLoader.js"></script>
    <script src="~/js/BasicPlane.js"></script>
    <script src="~/js/ModelLoader.js"></script>
    <script src="~/js/UIManager.js"></script>
    <script>
        var ui = new UIManager();
    </script>

</body>
</html>
