.show{
    display: block;
}

.hidden{
    display: none;
}

.showEffect {
    display: block;
    top: 50vh;
}

.hiddenEffect {
    display: none;
    top: 47vh;
}

.toggleCheckBox {
    position: relative;
    top: -9999999px;
    left: -9999999px;
}

.center {
    visibility: hidden;
    width: 200px;
    position: fixed;
    left: 50vw;
    transform: translate(-50%, -50%);
    transition: top 2s, opacity 2s, visibility 0s linear 2s;
}

.fallIn {
    top: 45vh;
    transform: translate(-50%, -50%);
    transition: top 0.5s, opacity 0.5s, visibility 0s linear 0.5s;
    opacity: 0;
}

.popIn {
    top: 50vh;
    transform: translate(-50%, -50%) scale(0,0);
    transition: transform 0.5s, visibility 0s linear 0.5s;
}

.mainMenu__checkbox:checked ~ div.fallIn {
    visibility: visible;
    transition: top 0.5s, opacity 0.5s;
    top: 50vh;
    opacity: 1;
}
.mainMenu__checkbox:checked ~ div.popIn {
    visibility: visible;
    transition: transform 0.5s;
    transform: translate(-50%, -50%) scale(1,1);
}

.overlayBackground {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    transition: background-color 0.5s linear, visibility 0s linear 0.5s;
    visibility: hidden;
}

#toggle-background:checked ~ div, .mainMenu__checkbox:checked ~ div.overlayBackground {
    background-color: rgba(0,0,0,0.3);
    transition: background-color 0.5s linear;
    visibility: visible;
}

.card__option{
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.menu__option{
    width: 80%;
    margin: 5px 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}